@charset "UTF-8";


body {
	color: #8d8d8d;
	background-color: #202020;
}


.record_form {
	text-align: center;
}

form.previous,
form.next,
.date {
	display: inline;
}

.date_button {
	height: 50px;
	width: 60px;
	font-size: 20px;
}

p.date {
	font-size: 35px;
}

p.weight_text {
	font-size: 50px;
}

input[type="text"] {
	font-size: 50px;
	width: 150px;
	padding: 2%;
	text-align: center;
}

.submit {
	height: 70px;
	width: 120px;
	font-size: 20px;
}

.back {
	height: 40px;
	width: 70px;
	font-size: 20px;
}