body {
	color: #8d8d8d;
	background-color: #202020;
    font-size: 20px;
    line-height: 1.8em;
}

table {
    width: 100%;
}



td, th {
	border: 0px solid;
	background-color:#303030;
    text-align: center;
}

td {
    height: 50px;
}