<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Training Memo</title>
	<link th:href="@{/css/recordlist.css}" rel="stylesheet">
</head>

<body>
	<h1>Training Memo</h1>

	<table>
		<thead>
			<tr>
				<th class="date">Date</th>
				<th class="weight">Weight</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="record : ${recordList}">
				<td class="date" th:text="${record.date}"></td>
				<td class="weight" th:text="${record.weight}"></td>
			</tr>
		</tbody>
	</table>
	
	<form method="get" action="/toppage">
		<input type="submit" value="戻る">
	</form>

</body>

</html>